.homepage {
  .home {
    width: 100%;
    height: 70vh;
    color: var(--main);
    background-image: url("../../assets/facade.webp");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--main);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 700;
  }

  .home-search-cards-container {
    display: flex;
    padding: 40px 20px;
    display: flex;
    gap: 15px;

    .home-search-card:hover .ant-card-cover img {
      filter: none;
    }

    .ant-card-meta {
      :hover {
        box-shadow: none;
        background: transparent;
      }
    }

    .home-search-card {
      width: fit-content;
      transition: 0.3s all ease-in-out;
      /* width: fit-content; */

      .ant-card {
        width: 100% !important;
        padding: 5px;
        background-color: #fff;
        border: 1px solid #e9e9e9;
        text-align: center;
      }
    }

    .ant-card-cover img {
      height: 240px !important;
    }

    .ant-card-meta {
      :hover {
        box-shadow: none;
        background: trasparent;
      }
    }
  }

  .home-search-input-container {
    display: flex;
    gap: 20px;
  }

  .home-search-input {
    border-radius: 8px;
    position: relative;
    z-index: 50;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #5e5e5e;
    outline: none;
    appearance: none;
  }

  .home-search-button {
    border-radius: 8px;
    min-width: 150px;
    background-color: var(--sec);
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #383838;
    outline: none;
    transition: background-color 0.3s;
  }

  .home-clear-button {
    border-radius: 8px;
    min-width: 150px;
    background-color: var(--sec);
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #383838;
    outline: none;
    transition: background-color 0.3s;
  }

  .home-search-button:hover,
  .home-clear-button:hover {
    background-color: #78530a;
  }

  @media screen and (min-width: 1300px) {
    .container {
      margin: auto 70px;
    }

    .home-search-cards-container {
      .home-search-card {
        width: 23%;
      }
    }

    .home-search-button {
      padding: 12px 25px;
    }

    .home-clear-button {
      padding: 12px 10px;
    }

    .home-search-input {
      min-width: 340px;
    }

    .head {
      font-size: 25px;
      color: #fff0d3;
      padding: 17px;

      span {
        font-size: 40px !important;
      }
    }
  }

  @media (min-width: 800px) and (max-width: 1300px) {
    .home-search-input {
      min-width: 300px;
    }

    .home-clear-button {
      padding: 12px 10px;
    }

    .home-search-button {
      padding: 12px 25px;
    }
  }

  @media (min-width: 768px) and (max-width: 1300px) {
    .container {
      margin: auto 6%;
    }

    .home-search-cards-container {
      .home-search-card {
        width: 31%;
      }
    }

    .head {
      font-size: 22px;
      color: #fff0d3;
      padding: 13px;

      span {
        font-size: 30px !important;
      }
    }
  }

  @media (min-width: 600px) and (max-width: 800px) {
    .home-search-cards-container {
      .home-search-card {
        width: 47%;
      }

      .home-clear-button {
        padding: 8px 10px;
      }

      .home-search-button {
        padding: 8px 25px;
      }

      .home-search-input {
        min-width: 340px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .home-search-input {
      min-width: 320px;
    }

    .home-search-cards-container {
      justify-content: center;

      .home-search-card {
        width: 97%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .home {
      height: 100vh;
    }

    .home-clear-button {
      padding: 4px 10px;
    }

    .home-search-button {
      padding: 4px 25px;
    }

    .home-search-input {
      min-width: 320px;
    }

    .container {
      margin: auto 6%;
    }

    .home-search-input-container {
      flex-direction: column;
      gap: 15px;
    }

    .head {
      font-size: 18px;
      color: #fff0d3;
      padding: 12px;

      span {
        font-size: 25px !important;
      }
    }

    .home-content {
      flex-direction: column;
      width: 100%;
      margin: -80px 0 20px 0;
      align-items: center;
      text-align: center;
      border-radius: 0;

      .home-card:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid #eee;
      }
    }
  }

  /* 
  .home::after {
    content: "";
    position: absolute;
    background-color: #544c4c1a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  } */

  .bg {
    width: unset;
  }

  h1 {
    background-color: #544c4c85;
    color: var(--sec);
    width: 100%;
  }

  .home-content {
    display: flex;
    gap: 30px;
    background-color: #fff;
    justify-content: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    position: relative;
    width: 90%;
    overflow: hidden;
    z-index: 1;
    border-radius: 570% 299% 100% 0% / 30% 66% 494% 80%;
    margin: -135px 200px 0 200px;

    .home-card {
      width: fit-content;
      background-color: #fff;
    }

    .home-card:not(:last-child) {
      border-right: 1px solid #eee;
      padding: 20px;
    }

    .card-title {
      margin-top: 30px;
    }
  }
}