.footer {
  /* padding: 80px 0; */
  background-color: var(--main);
  padding-top: 30px;
  padding-bottom: 25px;
  box-sizing: border-box;
  position: relative;
  margin-top: 40px;

  .contact-details-list {
    li {
      font-size: 17px;
    }
  }

  .footer-logo-container {
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    .footer-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 12px;

      p {
        color: #fff;
        font-size: 17px;
        width: 80%;
      }
    }

    img {
      width: 100%;
      /* background-color: #fff; */
    }

    p {
      text-align: start;
      color: #fff;
      font-size: 18px;
      line-height: 1.5;
    }
  }

  .skewFooter {
    fill: #f7f4f1;

    svg {
      position: absolute;
      top: 0px;
      z-index: 0;
    }
  }

  .footer-content {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 20px 40px;

    .links {
      /* width: 20%; */
      color: #fff;

      ul {
        padding: 0;
      }

      li {
        display: flex;
        gap: 12px;

        a {
          color: #fff;
        }
      }

      a:hover {
        color: var(--sec);
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .footer {
    .ft-logo {
      width: 130px;
    }

    li {
      font-size: 18px;
      line-height: 2;
    }

    h5 {
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .footer-logo-container {
      width: 21%;

      img {
        width: 50%;
      }
    }

    .footer-content {
      gap: 46px;

      .links {
        width: 23%;
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .footer {
    h5 {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 16px;
    }

    .footer-logo-container {
      width: 46%;
    }

    li {
      font-size: 18px;
      line-height: 1.8;
    }

    .container {
      margin: auto 10px;
    }

    .footer-logo {
      width: 46%;

      img {
        width: 50%;
      }
    }

    .contactus-page {
      width: 40%;
    }

    .footer-content {
      gap: 50px;
      flex-wrap: wrap;

      .links {
        width: 46%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .footer {
    h5 {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 16px;
    }

    .footer-logo-container {
      width: 46%;
    }

    li {
      font-size: 18px;
      line-height: 1.8;
    }

    .container {
      margin: auto 10px;
    }

    .footer-logo {
      width: 46%;

      img {
        width: 50%;
      }
    }

    .contactus-page {
      width: 40%;
    }

    .footer-content {
      gap: 50px;
      flex-wrap: wrap;

      .links {
        width: 46%;
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .footer {
    h5 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
    }

    li {
      font-size: 17px;
      line-height: 1.8;
    }

    .footer-logo-container {
      align-items: flex-start;
    }

    .footer-logo {
      width: 50% !important;

      img {
        width: 50%;
      }
    }

    .footer-content {
      gap: 40px;
      flex-wrap: wrap;
      padding: 0 40px;

      .ft-logo {
        width: 100px;
        text-align: center;
      }

      .links {
        width: 47%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    h5 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    li {
      font-size: 17px;
      line-height: 1.8;
    }

    .footer-logo {
      width: 100%;

      img {
        width: 47%;
      }
    }

    .footer-content {
      gap: 40px;
      flex-wrap: wrap;
      padding: 0 30px;

      .ft-logo {
        width: 100px;
      }

      .links {
        width: 47%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    .footer-content {
      .links {
        width: 100%;
      }
    }
  }
}