.residentialProjects {
  position: relative;
  /* background-color: #fff; */

  .skewed {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 0;
    transform: skewY(6deg);
  }

  /* .cityLabel {
    margin: 0;
    margin-bottom: 50px;
    font-size: 24px;
    width: 100%;
    border-radius: 12px;
    padding: 16px 40px;
  } */

  .residentialProjects-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    gap: 10px;
    position: relative;

    .residentialProjects-card {
      width: 24%;
      height: 350px;
      max-height: 350px;

      .img-whp {
        transition: 1s all;
      }

      :hover .img-whp {
        transform: scale(1.1);
        width: 700px;
      }
    }

    .residentialProjects_property {
      background-color: #fff;
      height: 100%;
      border: 1px solid #ebebeb;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease;
      height: 100%;
    }

    .residentialProjects_property .thumb {
      background: #1d293e;
      cursor: pointer;
      border-radius: 8px;
      overflow: hidden;
      margin: 10px 9px 0 10px;
      position: relative;
    }

    .residentialProjects_property .details {
      position: relative;
    }

    .residentialProjects_property .thumb img {
      opacity: 0.6;
      object-fit: cover;
      min-height: 220px;
      width: 100%;
      height: 100%;
      min-height: 220px;
    }

    .residentialProjects_property .thumb .thmb_cntnt,
    .properti_city.home6 .thumb .thmb_cntnt {
      bottom: 0;
      left: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .residentialProjects_property .thumb .thmb_cntnt .residentialProjects-card-name {
      bottom: 8px;
      font-size: 22px;
      color: #fff;
      background-color: #a3a3a391;
      font-weight: 700;
      padding: 10px;
      border-radius: 8px;
      left: 0px;
      margin-bottom: 0px;
      position: absolute;
      text-decoration: none;
    }

    a {
      transition: 0.3s;
    }

    .residentialProjects_property .details .tc_content {
      padding: 30px 20px;
      text-align: center;
    }

    .residentialProjects_property .details .tc_content p {
      font-size: 14px;
      line-height: 20px;
      color: #777;
      margin: 10px 0;
    }

    .residentialProjects_property .details .tc_content h4 {
      font-size: 18px;
      color: #484848;
      font-weight: 700;
      line-height: 1.2;
    }

    h4 {
      transition: 0.3s;
    }

    .residentialProjects_property .details .tc_content h4 a,
    .residentialProjects_property .details .tc_content .h4 a {
      font-weight: 700;
      color: #484848;
      text-decoration: none;
    }

    .prop_details {
      padding: 0;
      margin: 4px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      width: 100%;
    }

    .residentialProjects_property .details .tc_content .prop_details li {
      margin-right: 0;
      display: block;
    }

    .list-inline-item {
      display: inline-block;
    }

    .residentialProjects_property .details .tc_content .prop_details li a {
      text-decoration: none;
      font-size: 14px;
      color: #484848;
      line-height: 1.2;
    }

    .residentialProjects_property .details .fp_footer {
      border-top: 1px solid #d9d9d9;
      padding: 5px 20px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .fp_meta {
      padding-left: 0;
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 0;
    }

    .residentialProjects_property .details .fp_footer .fp_meta li img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }

    .list-inline-item a {
      color: #777;
    }
  }
}

@media screen and (min-width: 1200px) {
  .residentialProjects {
    padding: 0 0 50px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .residentialProjects {
    padding: 0 0 50px;

    .residentialProjects-content {
      flex-wrap: wrap;

      .residentialProjects-card {
        width: 47%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .residentialProjects {
    padding-bottom: 40px;

    .cityLabel {
      font-size: 20px;
      margin: auto;
      width: 100%;
    }

    .residentialProjects-content {
      flex-direction: column;
      width: 100%;
      align-items: center;
      text-align: center;
      border-radius: 0;
      gap: 30px;

      .residentialProjects-card {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .residentialProjects {
    .cityLabel {
      font-size: 16px;
    }
  }
}