.details-page {
  .bg {
    height: 70vh;
    filter: grayscale(1);

    h2 {
      font-size: 30px;
      padding: 20px 0;
    }
  }

  .details-page-container {
    display: flex;
    gap: 20px;
    padding: 50px 0px;



    .details-page-content-container {
      width: 73%;
    }

    .details-page-sidebar {
      width: 23%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .details-sidebar-contact-details {
        max-height: 500px;
        background-color: var(--sec);
        color: #fff;
        border-radius: 12px;
        padding: 10px;

      }

      .details-sidebar-contact-details-row {

        border-bottom: 1px solid #c5c5c559;

        span {
          padding: 0px 2px;

        }

        .details-row-text {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .details-sidebar-form-container {
        width: 100%;
        background-color: var(--sec);
        border-radius: 8px;
        padding: 10px;

        .contactus-page {
          width: 100%;

          .subscribe-btn {
            background-color: #fff;
            color: var(--sec);
            font-size: 16px;
            font-weight: 500;
          }

          .subscribe-btn:hover {
            background-color: #e7e7e7;
            color: #78530a;
          }
        }

      }
    }
  }
}

.projectImg {
  width: 100%;
  height: 400px;
}

.details-content {
  padding: 20px;
  background-color: white;
  border-radius: 11px;
  font-size: 20px;
}

.featuresDetails {
  display: flex;
  align-items: center;
}

.featuresDetails ul {
  display: flex;
  gap: 20px;
  padding-left: 10px;

  li {
    padding: 10px;
    background-color: var(--sec);
    color: white;
    border-radius: 11px;
  }
}

.loadingIndicator {
  font-size: 7rem;
  color: var(--sec);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60vh;
}